.titleM {
  font-family: var(--typography-title-m-font-family);
  font-weight: var(--typography-title-m-font-weight);
  font-size: var(--typography-title-m-font-size);
  line-height: var(--typography-title-m-line-height);
}

.textL {
  font-family: var(--typography-text-l-font-family);
  font-weight: var(--typography-text-l-font-weight);
  font-size: var(--typography-text-l-font-size);
  line-height: var(--typography-text-l-line-height);
}

.textLMedium {
  font-family: var(--typography-text-l-font-family);
  font-weight: var(--typography-text-l-medium-font-weight);
  font-size: var(--typography-text-l-font-size);
  line-height: var(--typography-text-l-line-height);
}

.textM {
  font-family: var(--typography-text-m-font-family);
  font-weight: var(--typography-text-m-font-weight);
  font-size: var(--typography-text-m-font-size);
  line-height: var(--typography-text-m-line-height);
}

.textMMedium {
  font-family: var(--typography-text-m-font-family);
  font-weight: var(--typography-text-m-medium-font-weight);
  font-size: var(--typography-text-m-font-size);
  line-height: var(--typography-text-m-line-height);
}

.textSm {
  font-family: var(--typography-text-s-font-family);
  font-weight: var(--typography-text-s-font-weight);
  font-size: var(--typography-text-s-font-size);
  line-height: var(--typography-text-s-line-height);
}

.textSMedium {
  font-family: var(--typography-text-s-font-family);
  font-weight: var(--typography-text-s-medium-font-weight);
  font-size: var(--typography-text-s-font-size);
  line-height: var(--typography-text-s-line-height);
}
