.overlay {
  width: 100%;
  position: fixed;
  height: 100%;
  inset: 0;
  z-index: var(--z-overlay);
  transition-property: background-color;
  transition-duration: 150ms;

  &--primary {
    background-color: var(--colour-fg);
  }
}
