.filterDialog {
  &__title {
    --typography-text-l-font-size: var(--font-size-32);
    margin-bottom: var(--space-pad-xl);
    composes: textLMedium from "@styles/global/typography.module.css";
  }

  &__trigger {
    width: 100%;
  }

  &__closeButton {
    background-color: var(--colour-accent);
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    font-size: var(--font-size-18);
    padding: var(--space-pad-sm);
    color: var(--colour-fg-invert);
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
