@font-face {
  font-family: "Poppins";
  src:
    url("../../../assets/fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../../../assets/fonts/poppins-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../../assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../../../assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../../assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../../../assets/fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../../assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../../../assets/fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
