@import "../semantics/colours.css";
@import "../semantics/radius.css";

body {
  background-color: var(--color-bg);
  color: var(--colour-text);
  display: grid;
  font-size: 2rem;
  margin: 0;
  min-height: 100vh;
  place-content: center;
}
