.filterBar {
  display: flex;
  flex-direction: row;
  gap: var(--space-gap-sm);
  align-items: center;

  &__listWrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: var(--space-gap-sm);

    li {
      button {
        padding: 0;
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        outline: inherit;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__label {
    composes: textMMedium from "@styles/global/typography.module.css";
    margin: 0;
  }
}
