.filterBar {
  display: flex;
  flex-direction: row;
  gap: var(--space-gap-xs);
  align-items: center;


  &__label {
    --typography-text-m-font-size: var(--font-size-13);
    color: var(--colour-fg-muted);
    composes: textMMedium from "@styles/global/typography.module.css";
    margin: 0;

    @media (min-width: 640px) {
      --typography-text-m-font-size: var(--font-size-16);
    }
  }
}
