.button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  min-width: 100px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  color: var(--colour-fg-invert);

  &:hover {
    opacity: 0.8;
  }

  &--primary {
    background-color: var(--colour-accent-contrast);
  }

  &--sm {
    composes: textMMedium from "@styles/global/typography.module.css";
    padding: var(--space-pad-md) var(--space-pad-xl);
    border-radius: var(--radius-xl);
  }

  &--lg {
    composes: textLMedium from "@styles/global/typography.module.css";
    padding: var(--space-pad-xl);
    border-radius: var(--radius-2xl);
  }
}
