.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: var(--space-gap-md);

  @media (min-width: 640px) {
    gap: var(--space-gap-4xl);
  }

  &__header {
    width: 100%;
    padding: 0 var(--space-pad-md);
  }

  &__heading {
    composes: heading from "@styles/global/typography.module.css";
    text-align: center;
  }

  &__searchWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__container {
    width: 100%;
    max-width: 1024px;
    padding: var(--space-pad-md) var(--space-pad-md) 0 var(--space-pad-md);

    @media (min-width: 640px) {
      padding-top: 0;
    }
  }

  &__filterWrapper {
    padding: var(--space-pad-md) 0;
    border-bottom: 1px solid var(--colour-ink);
    border-top: 1px solid var(--colour-ink);

    @media (min-width: 640px) {
      border-top: none;
    }

    &--bar {
      display: none;

      @media (min-width: 640px) {
        display: flex;
      }
    }

    &--dialog {
      display: block;
      width: 100%;

      @media (min-width: 640px) {
        display: none;
      }
    }
  }
}
