.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__heading {
    composes: heading from "@styles/global/typography.module.css";
    span {
      background: linear-gradient(
        180deg,
        var(--colour-text-gradient-start) 0%,
        var(--colour-text-gradient-end) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }
}
