.badge {
  padding: 0.25rem 0.4rem;
  border-radius: var(--radius-md);
}

.admin {
  background: red;
}


.size-sm {
  font-size: 12px;
  padding: 2px 8px;
}

.size-md {
  font-size: 14px;
  padding: 4px 10px;
}

.size-lg {
  font-size: 16px;
  padding: 6px 12px;
}
