.badge {
  border-radius: var(--radius-md);
  padding: var(--space-pad-2xs) var(--space-pad-md);
  color: var(--colour-fg-invert);
  composes: textSMedium from "@styles/global/typography.module.css";
  display: inline-block;

  &--admin {
    background-color: var(--colour-accent-strong);
  }

  &--editor {
    background-color: var(--colour-accent-alt);
  }

  &--viewer {
    background-color: var(--colour-accent);
  }

  &--guest {
    background-color: var(--colour-special);
  }
}
