.searchInput {
  display: flex;
  flex-direction: column;
  gap: var(--space-gap-lg);
  align-items: stretch;
  justify-content: center;

  @media (min-width: 640px) {
    flex-direction: row;
    align-items: flex-end;
  }

  &__input {
    max-width: 669px;

    @media (min-width: 640px) {
      flex-grow: 1;
    }
  }
}
