:root {
  --font-family-poppins: "Poppins", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --font-size-12: 0.75rem; /* 12px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px */
  --font-size-24: 1.5rem; /* 24px */

  --line-height-100: 1;
  --line-height-130: 1.3;
  --line-height-170: 1.7;
}
