:root {
  --font-family-poppins: "Poppins", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-10: 0.625rem; /* 10px */
  --font-size-12: 0.75rem; /* 12px */
  --font-size-13: 0.8125rem; /* 13px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-24: 1.5rem; /* 24px */
  --font-size-32: 2rem; /* 32px */
  --font-size-40: 2.5rem; /* 40px */
  --font-size-48: 3rem; /* 48px */
  --font-size-60: 3.75rem; /* 60px */
  --font-size-72: 4.5rem; /* 72px */

  --line-height-100: 1;
  --line-height-130: 1.3;
  --line-height-150: 1.5;
  --line-height-170: 1.7;
}
