.dialog {
  z-index: var(--z-modal);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: var(--space-pad-xl);

  &::-webkit-scrollbar {
    display: none;
  }

  &--primary {
    background-color: var(--colour-fg-invert);
  }

  &--layout-center {
    left: 50%;
    top: 50%;
    max-height: 85vh;
    width: 90vw;
    max-width: 600px;
    border-radius: var(--radius-6);
    transform: translate(-50%, -50%);
  }

  &--layout-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80vw;
    max-width: 360px;
  }
}
