.filterChips {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-gap-xs);
  align-items: center;

  &__trigger {
    &:focus-visible {
      outline: 2px solid var(--colour-orange-500);
      outline-style: auto;
    }
  }
}
